.test{
    background: #000000;
}

.header{
    background:#00c292;
    padding:10px;
    color: #ffffff;
    border-radius: 5px;
}
.links{
    font-size: 14px;
    padding: 10px 15px;
    background: #00c292;
    color: #ffffff;
    border:2px #ffffff solid;
    letter-spacing: 0.2px;
    border-radius: 5px;
}

.links_active{
    font-size: 14px;
    padding: 10px 15px;
    background: #ffffff;
    color: #00c292;
    border:2px #00c292 solid;
    letter-spacing: 0.2px;
    border-radius: 5px;
}
.show_button{
    font-size: 14px;
    padding: 2px 5px;
    background: #00c292;
    border:1px #00c292 solid;
    color: #ffffff;
    letter-spacing: 0.2px;
    border-radius: 5px;
}

.headings{
    color: #00c292;
}

table th{
    text-align: center;
}
table tr td{
    height: 43px;
}

.page-item-active{
    background: #23527c !important;
    color: #ffffff !important;
}
